body{
	margin: 0px; 
}
img{
	width: 350px;
	height: 200px;
	margin : 10px;
	transition: all 0.5s;
}
img:hover{
	transform: scale(1.1);
}
#container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
h1{
	font-family:"Comic Sans MS", cursive, sans-serif ;
	font-size: 3em;
	border-bottom: 2px solid pink;
	border-right: 2px solid pink;
	width: 400px;
	text-align: center;
	box-shadow: 10px 10px 5px #888888; /*arguments are x, y, blur, spread, color */ 
}
