/*selector{
	property : value;
}*/

body {
	background-image: url(https://images.unsplash.com/photo-1536486239970-277f67f55a11?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80);
    background-size:cover;
    background-repeat: no-repeat;
}
h2{
	color:#AA3939;
	text-align:center;
	border: 5px solid rgba(255, 176, 170, 0.5);
	width: 100px;
	height: 20px;
	border-radius: 50px;
	border-width: thick;
	padding: 10px;
	margin: auto;/*top right bottom left*/
    cursor: pointer;
}

li{
	list-style: none;
	display: inline-block;
}
p{

	color: red;
    line-height: 30px;
    font-style: italic;
    font-weight:bold;
    font-size: 80%;
   /* font-family: ;*/
}
img{
	float:right;
}
footer{
	clear: both;
	text-align: center;
}

span{
	font-size: 2em; /*two times the remaining text */
}
  
span.another{
	font-size: 5rem; /*5 times the root element text*/
}