body{
    background-color: rgb(205, 236, 234);
    position: relative;
    width: 33%;
    height: 300px;
}
#res{
    background-color: lightgray;
    border: solid;
    height: 30%;
    font-size: 20px;
}
#btn0, #btn1{
    background-color: lightgreen;
    color: brown;
}
#btnClr, #btnEql{
    background-color: darkgreen;
    color: white;
}
#btnSum, #btnSub, #btnMul, #btnDiv{
    background-color: black;
    color: red;
} 
.button{
    width: 25%;
    height: 50%;
    font-size: 18px;
    margin: 0px;
    float: left;
}
#btns{
    height: 70%;
}
.calculator{
    position: relative;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 100%;
}