body
{
	margin: 0;
	padding: 0;
	background: #262626;
	font-family: sans-serif;
}
.container
{
	width: 1110px;
	margin: 70px auto 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.container .box
{
	position: relative;
	width: 350px;
	height: 200px;
	background: #ff0;
	margin: 10px;
	box-sizing: border-box;
	display: inline-block;
}
.container .box .imgBox
{
	position: relative;
	overflow: hidden;
}
.container .box .imgBox img
{
	width: 350px;
	height: 200px;
	transition: transform 2s;
}
.container .box:hover .imgBox img
{
	transform: scale(1.2);
}
.container .box .detail
{
	position: absolute;
	right: 10px;
	left: 10px;
	top: 10px;
	bottom: 10px;
	background: rgba(0, 0, 0, 0.8);
	transform: scaleY(0);
	transition: transform .5s;
}
.container .box:hover .detail
{
	transform: scaleY(1);
}
.container .box .detail .content
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding: 15px;
	color: #fff;
}
.container .box .detail .content h2
{
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: #ff0 ;	
}
.container .box .detail .content p
{
	margin: 10px 0px 0px;
	padding: 0;
}	

